### GENERAL
NODE_ENV = development
PROJECT_NAME=ATOMECOM

### APP
DEV_APP_PORT=3636
DEV_APP_HOST=localhost
CLIENT_HOST=http://localhost:8386
PROD_CORS_ORIGIN=https://your-domain.com,https://admin.your-domain.com

### DB & CACHE
DEV_DB_URI=mongodb://localhost:27017/dev_db
DEV_CACHE_URI=redis://127.0.0.1:6379/0

### SECURITY
SALT_ROUNDS = 10
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m

### Oauth
GOOGLE_CLIENT_ID=
FACEBOOK_APP_ID=

### EMAIL
EMAIL_API_KEY=
RESEND_FROM_EMAIL=email@your_domain.com
EMAIL_LOGO_URL=
